.categorie{
    padding: 3rem 5%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    background: #f5f4f9;

}

.categorie  article {
    padding: 1.5rem;
}

/* small devices */
@media (min-width : 576px ){

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .categorie{
        padding: 3rem 20%;
    }
        
}